@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Inter:wght@400;600&display=swap');

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url(/assets/bg.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: 'Inter', sans-serif;
}

.main-content{
  margin-left: 100px;
}

.title{
  font-size: 70px;
  margin-bottom: 45px;
  font-family: outfit;
  line-height: 0.8;

}

.light-text{
  font-weight: lighter;
}

.bold-text{
  font-weight:600;
}

.header-logo img{
    height: 30px;
    margin: 30px 100px;
}

.action-footer{
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
  margin-right: 600px;
}

.instructions-title{
  color:#d20094;
  font-weight: 600;
  font-size: 23px;
}

.instructions-desc{
  width: 450px;
  margin-bottom: 30px;
  font-size: 14px;
}

.instructions-list {
  font-size: 14px;
  font-weight: lighter;
}

.instructions-list strong{
  font-weight: 900;
}
.action-footer{
  margin-top: 75px;
}

#promise-check{
  cursor: pointer;
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid white;
  margin: 0;
}

#promise-check:checked::before {
  content: "✓";
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00ffff;
  font-size: 16px;
  font-weight: bold;
  height: 100%;
}


label{
  display: flex;
  align-items: center;
  gap: 15px;
}

.checkbox-label{
  font-size: 14px;
}

.proceed-btn{
  padding: 15px 45px;
  font-family: inter;
  font-weight: bold;
  font-size: large;
  background-color: #00FFFF;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 245, 212, 0.6);
  transition: 0.3s ease;
}

.proceed-btn:hover {
  box-shadow: 0 0 35px rgba(0, 245, 212, 0.8);
}

a {
  text-decoration: none;
  color: #0b113b;
}

#promise-check[type="checkbox"]:checked{
  content: "v";
  color: white;
}

#error{
  text-align: center;
  color: red;
  display: none;
}