@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Inter:wght@400;600&display=swap");

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: "Inter", sans-serif;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header,
main,
footer {
  width: 760px;
}

header {
  margin-top: 60px;
  margin-bottom: 50px;
}

header img {
  height: 35px;
  margin: 0;
}

main h1 {
  font-size: 70px;
  margin-bottom: 45px;
  font-family: outfit;
  line-height: 0.8;
}

main h1 span:first-child {
  font-weight: lighter;
}

main h1 span:last-child {
  font-weight: 600;
}

main h2 {
  color: #d20094;
  font-weight: 600;
  font-size: 23px;
}

main p {
  width: 450px;
  margin-bottom: 30px;
  font-size: 15px;
}

main ul {
  font-size: 15px;
  font-weight: lighter;
}

main ul strong {
  font-weight: 900;
}

footer {
  margin-top: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#promise-check {
  cursor: pointer;
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid white;
  margin: 0;
}

#promise-check:checked::before {
  content: "✓";
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00ffff;
  font-size: 16px;
  font-weight: bold;
  height: 100%;
}

footer label {
  display: flex;
  align-items: center;
  gap: 15px;
}

footer label span {
  font-size: 14px;
}

.proceed-btn {
  padding: 15px 45px;
  margin-left: 45px;
  font-family: inter;
  font-weight: bold;
  font-size: 20px;
  background-color: #00ffff;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 245, 212, 0.6);
  transition: 0.3s ease;
}

.proceed-btn:hover {
  box-shadow: 0 0 35px rgba(0, 245, 212, 0.8);
}

a {
  text-decoration: none;
  color: #0b113b;
}

#error {
  text-align: center;
  color: red;
  display: none;
}
